- style = local_assigns[:style] || 'height: 100%'
-# Label to use for the marker of this component.
- label = local_assigns[:label]
-# Zoom to use for this component.
- zoom = local_assigns[:zoom]
-# Initial values for (latitude, longitude) can be given in (lat, lng) variables.
-# They will serve as default values even if coordinate fields are present.
- latitude = local_assigns[:lat]
- longitude = local_assigns[:lng]
-# Fields reflecting the current latitude and longitude can be given in (latField, lngField) variables.
-# Their current value will serve as initial coordinates if no (lat, lng) variables are present.
- lat_field = local_assigns[:lat_field]
- lng_field = local_assigns[:lng_field]
.google-map{style: style, data:{gmap:{lat: latitude, lng: longitude, zoom: zoom, label: label, latField: lat_field, lngField: lng_field}}}
= text_field_tag :search, '', autocomplete: 'off', style: 'width: 60%; display: inline-block', class: 'form-control gmap-autocomplete' if local_assigns[:with_search]
